* {
    font-family: 'arial';
}

body, .container{
    background: rgb(209,209,209);
    background: linear-gradient(180deg, rgba(209,209,209,1) 0%, rgba(240,240,240,1) 14%, rgba(255,255,255,1) 54%);
}

.container{
    padding-top: 20px;
    padding-bottom: 20px;
}

.profile-pic{
    border-radius: 50%;
}
